.venv/
__pycache__/
*.pyc
*.session
*.session-journal
*.session-wal
*.session-shm
.env
*.txt
proxy.txt
SOLD/
2FA_ON/
OTHER_DEVICE/
UNAUTH/
REJECTED/
RECOVERED/
ALREADY_SOLD/
CANCELLED/
ARCHIVE/
WORLD_V1/
USERBOT/
SESSIONS/
logs/
*.log
